
<mat-toolbar class="custom-toolbar"  *ngIf="usuario">
  <button mat-icon-button (click)="sidenav.toggle();">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="brand">Ferretería CR      Bienvenido</span>

  <span class="head-spacer"></span>
  
  <a *ngIf="usuario">
    <button mat-icon-button (click)="Carrito()">
      <mat-icon >shopping_cart</mat-icon>
      <span class="badge" *ngIf="getNumeroProductosEnCarrito() > 0">{{ getNumeroProductosEnCarrito() }}</span>
    </button>
  </a>
  
  <a *ngIf="usuario">
    <button mat-icon-button (click)="logout()">
      <mat-icon class="mat-icon-logout" >logout</mat-icon>
    </button>
  </a>
</mat-toolbar>

<mat-sidenav-container >
  <mat-sidenav class="custom-sidenav-container" #sidenav [opened]="usuario !== null" mode="side"  >
    <mat-nav-list class="custom-nav-list">
      <div class="card-container">
        <button mat-button  class="btn card card-small">
          <a [routerLink]="['/home']" mat-list-item class="link-container"><mat-icon>home</mat-icon><label class="custom-label">Home</label></a>
        </button>
        <button mat-button class="btn card card-small"  >
          <a [routerLink]="['/cliente']" mat-list-item class="link-container"><mat-icon>person</mat-icon><label class="custom-label">Cliente</label></a>
        </button>
        
        <button mat-button class="btn card card-small" >
          <a [routerLink]="['/producto']" mat-list-item class="link-container">
            <mat-icon>settings</mat-icon>
            <label class="custom-label">Producto</label>
          </a>
        </button>
        
        <button mat-button class="btn card card-small" title="Ventas">
          <a [routerLink]="['/venta']" mat-list-item class="link-container"> <mat-icon>shop</mat-icon> <label class="custom-label">Ventas</label> </a>
        </button>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="custom-sidenav-content">
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
