
.btn {
  width: 400px;
}
.btn-add{
  padding: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.product-card {
  width: 300px;
  margin: 16px;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 0px;
  }
  .btn {
    width: 100%;
  } 
  .btn-add{
      padding: 10px;
  }
  .table-container {
    overflow-x: auto; 
  }
}